.blogs {
  margin-bottom: 115px;

  @media (max-width: $desktop-width) {
    margin-bottom: 65px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 89px;
  }
}

.blogs__wrap {
  text-align: center;
}

.blogs__title {
  font-family: $font-family--cormorantGaramond;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  margin: 0;
  margin-bottom: 20px;
}

.blogs__link {
  color: $black-opopacity-01;
  display: block;
  margin-bottom: 63px;

  @media (max-width: $tablet-width) {
    margin-bottom: 54px;
  }
}

.blogs__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 24px;
  column-gap: 27px;

  @media (max-width: $desktop-width) {
    grid-template-columns: repeat(1, 1fr);
    width: 678px;
    row-gap: 46px;
  }

  @media (max-width: $tablet-width) {
    width: 290px;
    grid-gap: 35px;
  }
}
