.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 37px;
  column-gap: 28px;

  @media (max-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }
}

.cards__pagination {
  grid-column: 1/-1;
  padding-top: 32px;

  @media (max-width: $tablet-width) {
    padding-top: 22px;
  }
}
