.card {
  display: flex;
  flex-direction: column;
  width: 270px;

  @media (max-width: $desktop-width) {
    width: 324px;
  }

  @media (max-width: $tablet-width) {
    width: 130px;
  }
}

.cards .card {
  @media (max-width: $desktop-width) {
    width: 206px;
  }

  @media (max-width: $tablet-width) {
    width: 130px;
  }
}

.card div {
  margin-bottom: 16px;
}

.card div img {
  width: 100%;
}

.card p,
.card span {
  text-align: center;
  margin: 0;
  padding: 0;
}

.card p {
  margin-bottom: 6px;
}

.card span {
  font-size: 14px;
  line-height: 18.2px;
  font-weight: 700;
}
