.header {
  &--page {
    background-color: $brownlight;
  }

  @media (max-width: $desktop-width) {
    &--opened-menu,
    &--nojs {
      background-color: $brown;
    }
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 115px;
  border-bottom: 1px solid $greylight;
  position: relative;
  padding-top: 10px;

  @media (max-width: $desktop-width) {
    //flex-direction: column-reverse;
    border: none;
    min-height: 119px;
  }

  @media (max-width: $tablet-width) {
    min-height: 89px;
  }
}

.header--opened-menu .header__container,
.header--nojs .header__container {
  @media (max-width: $desktop-width) {
    flex-direction: column;
    padding: 30px 45px 55px 45px;
  }

  @media (max-width: $tablet-width) {
    padding: 30px 15px 45px 15px;
  }
}

.header__toggle {
  display: none;
  z-index: 10;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (max-width: $desktop-width) {
    display: block;

    &::after {
      content: "";
      position: absolute;
      top: -3px;
      left: 30px;
      width: 25px;
      height: 2px;
      background-color: $black-opopacity-01;
      box-shadow: 0 8px 0 0 $black-opopacity-01, 0 16px 0 0 $black-opopacity-01;
    }
  }

  @media (max-width: $tablet-width) {
    &::after {
      left: 0;
    }
  }
}

.header--nojs .header__toggle {
  display: none;
}

.header--opened-menu .header__toggle {
  @media (max-width: $desktop-width) {
    position: absolute;
    left: 20px;
    top: 50px;

    &::after {
      background-color: $wight;
      box-shadow: 0 8px 0 0 $wight, 0 16px 0 0 $wight;
    }
  }
}

.header__search {
  @media (max-width: $desktop-width) {
    display: none;
  }
}

.header--opened-menu .header__search,
.header--nojs .header__search {
  @media (max-width: $desktop-width) {
    display: block;
    order: 4;
    width: 100%;
  }
}

.header__label {
  @media (max-width: $desktop-width) {
    display: block;
  }
}

.header__logo {
  margin-right: 110px;

  @media (max-width: $desktop-width) {
    margin-right: 0;
    margin-left: 16px;
  }

  &--page {
    padding-top: 20px;
    text-align: center;
  }
}

.header--opened-menu .header__logo,
.header--nojs .header__logo {
  @media (max-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.header__svg {
  margin-right: 10px;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &--logo {
    fill: $brown;
  }

  @media (max-width: $desktop-width) {
    &--search {
      display: none;
    }
  }

  @media (max-width: $tablet-width) {
    &--logo {
      width: 52px;
      height: 52px;
    }
  }
}

.header--opened-menu .header__svg--logo,
.header--nojs .header__svg--logo {
  @media (max-width: $desktop-width) {
    fill: $wight;
  }
}

.header__input {
  border: none;

  &::placeholder {
    font-size: 14px;
    line-height: 21px;
    color: $grey;
  }

  @media (max-width: $desktop-width) {
    width: 100%;
    background-color: $brownlight;
    border-radius: 21px;
    min-height: 40px;

    &::placeholder {
      background-image: url("../img/svg/search.svg");
      background-repeat: no-repeat;
      width: 16px;
      height: 16px;
      font-size: 1px;
    }
  }
}


.header__login,
.header__cart {
  color: $black-opopacity-01;
  font-size: 14px;
  line-height: 21px;
}

.header__login {
  margin-right: 35px;

  @media (max-width: $desktop-width) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/svg/Vector.svg");
      background-repeat: no-repeat;
      width: 20px;
      height: 22px;
      right: -6px;
      top: -6px;
    }
  }

  @media (max-width: $tablet-width) {
    &::after {
      right: -29px;
    }
  }
}

.header__cart {
  @media (max-width: $desktop-width) {
    display: none;
  }
}

.header--nojs .header__login {
  display: none;
}

.header--opened-menu .header__login {
  @media (max-width: $desktop-width) {
    position: absolute;
    right: 20px;
    top: 50px;

    &::after {
      background-image: url("../img/svg/Vector-wight.svg");
      background-repeat: no-repeat;
    }
  }
}

.header__login-text {
  @media (max-width: $desktop-width) {
    display: none;
  }
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__nav--closed .header__list {
  @media (max-width: $desktop-width) {
    display: none;
  }
}

.header__nav--opened .header__list,
.header--nojs .header__list {
  @media (max-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    padding-left: 45px;
  }

  @media (max-width: $tablet-width) {
    padding-left: 0;
  }
}

.header__item {
  padding: 0;
  padding: 19px 17px;

  &--tablet {
    display: none;
  }

  @media (max-width: $desktop-width) {
    padding-left: 0;
    padding-bottom: 40px;
    &--tablet {
      display: block;
    }
  }

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;

    &--tablet {
      font-size: 18px;
      line-height: 23px;
    }
  }
}

.header__link {
  color: $black-opopacity-01;

  @media (max-width: $desktop-width) {
    color: $wight;
    font-size: 24px;

    &--tablet {
      opacity: 0.75;
      font-size: 18px;
    }

    &--login {
      opacity: 1;
    }
  }
}
