.slogan {
  background-color: $brown;
  background-image: url("../img/index-img/background-main-desktop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 463px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 121px;
  padding-top: 2px;

  &--catalog {
    background-image: url("../img/catalog-img/background-catalog-desktop.jpg");
    min-height: 261px;
    margin-bottom: 80px;
    padding-top: 0;
  }

  @media (min-resolution: $retina-dpi-2) {
    background-image: url("../img/index-img/background-main-desktop@2x.jpg");

    &--catalog {
      background-image: url("../img/catalog-img/background-catalog-desktop@2x.jpg");
    }
  }

  @media (max-width: $desktop-width) {
    background-image: url("../img/index-img/background-main-tablet.jpg");
    margin-bottom: 70px;
    padding-top: 0;


    &--catalog {
      background-image: url("../img/catalog-img/background-catalog-tablet.jpg");
      margin-bottom: 48px;
    }

    @media (min-resolution: $retina-dpi-2) {
      background-image: url("../img/index-img/background-main-tablet@2x.jpg");

      &--catalog {
        background-image: url("../img/catalog-img/background-catalog-tablet@2x.jpg");
      }
    }
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/index-img/background-main-mobile.jpg");
    margin-bottom: 60px;

    &--catalog {
      background-image: url("../img/catalog-img/background-catalog-mobile.jpg");
      margin-bottom: 40px;
    }

    @media (min-resolution: $retina-dpi-2) {
      background-image: url("../img/index-img/background-main-mobile@2x.jpg");

      &--catalog {
        background-image: url("../img/catalog-img/background-catalog-mobile@2x.jpg");
      }
    }
  }
}

.slogan__title {
  margin: 0;
  text-align: center;
  font-family: $font-family--cormorantGaramond;
  font-size: 45px;
  line-height: 49px;
  font-weight: 700;
  text-transform: uppercase;
  color: $wight;
  letter-spacing: 0.03em;



  &--catalog {
    font-size: 34px;
    line-height: 44px;
  }

  @media (max-width: $desktop-width) {
    margin-left: -18px;
  }


  @media (max-width: $tablet-width) {
    font-size: 38px;
    line-height: 40px;
    padding-top: 17px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0;
  }
}

.slogan__text {
  text-align: center;
  font-family: $font-family--cormorantGaramond;
  font-weight: 400;
  font-size: 38px;
  line-height: 49px;
  text-align: center;
  font-style: italic;
  text-transform: lowercase;
  padding-left: 15px;
  padding-right: 15px;
  color: $wight;

  &--catalog {
    font-size: 22px;
    line-height: 28px;
  }

  @media (max-width: $desktop-width) {
    margin-left: -18px;
  }

  @media (max-width: $tablet-width) {
    margin-left: 0;
    margin-bottom: 10px;
    font-size: 34px;
    line-height: 44px;

  }
}
