.subscribe__title {
  margin: 0;
  font-family: $font-family--cormorantGaramond;
  font-size: 34px;
  line-height: 44px;
  font-weight: 700;
  margin-bottom: 8px;
  letter-spacing: 0.022em;

  @media (max-width: $tablet-width) {
    margin-bottom: 12px;
  }
}

.subscribe__text {
  line-height: 21px;
  color: $grey;
  margin: 0;
  margin-bottom: 38px;
}

.subscribe__form {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $wight;
  align-items: center;
}

.subscribe__form label {
  @media (max-width: $tablet-width) {
    width: 60%;
  }
}

.subscribe__form input {
  background-color: transparent;
  border: none;
  color: $grey;

  @media (max-width: $tablet-width) {
    width: 60%;
  }

  &::placeholder {
    font-size: 14px;
    line-height: 21px;
    color: $grey;
  }
}

.subscribe__form button {
  border: none;
  background-color: transparent;
  color: $wight;
  padding-bottom: 10px;
  padding-right: 40px;
  position: relative;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/svg/arrow-form.svg");
    width: 28px;
    height: 9px;
    right: 0;
    top: 30%;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  @media (max-width: $tablet-width) {
    padding-right: 27px;

    &::after {
      right: -13px;
    }
  }
}
