//viewports
$tablet-width: 767px;
$desktop-width: 1023px;
$mobile-width-only: 767px;

//colors

$black: #000000;
$black-opopacity-01: rgba(29, 22, 19, 1);
$wight: #ffffff;
$grey: #9B9997;
$greylight: #F6F5F4;
$brown: #A87B62;


//fonts

$font-family--cormorantGaramond: "cormorantGaramond", "Arial", sans-serif;
$font-family--poppins: "poppins", "Arial", sans-serif;


//rtina

$retina-dpi-2: 2dppx;
